/*

20/04/2015 | J. Henrotte
application.scss
Importation of all scss files
	-> Output css/application.css

*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300italic,400italic,700italic,400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*

20/04/2015 | J. Henrotte
_vars.scss
Variables for the the Sagaframework

*/
/*

17/02/2015 | J. Henrotte
_placeholder.scss
Placeholders for the Sagaframework

*/
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/*

20/04/2015 | J. Henrotte
_mixins.scss
Mixins for the Sagaframework

*/
/* Breakpoin mixins

	Usage : 
	@include screen-large{
		property : value;
	}

*/
/*

	Font-size REM + Callback PX
	Usage :
	 @include font-size(value);

*/
/*

	Border radius mixins (4 corners)
	Usage :
	@include border-radius(value)

*/
/*

	Opacity mixins (I8- Compatible)
	Usage :
	@include opacity(value);

*/
/*

	Center block
	Usage : 
	@include center-block;

*/
/*

	Text-truncate
	Usage : 
	@include texte-truncate

*/
/*

	Translate mixin
	@include translate(x, y)

*/
/*

20/04/2015 | J. Henrotte
_fonts.scss
Fonts for the projet Sagaframework

*/
/*

20/04/2015 | J. Henrotte
_fontIcons.scss
Fonticons for Sagaframework

*/
/*

17/02/2015 | J. Henrotte
_typography.scss
Typography for the Sagaframework

*/
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.4;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #1E2538; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #5F6882; }

em {
  color: #34CB60; }

.color--green {
  color: #34CB60 !important; }
  .color--green a {
    text-decoration: none;
    font-style: italic; }

.color--red {
  color: #F94747 !important; }
  .color--red a {
    text-decoration: none;
    font-style: italic; }

/*

20/04/2015 | J. Henrotte
_base.scss
Basic reset for the Sagaframework

*/
/* Border box code to manage sizes */
*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  word-wrap: break-word; }

hr {
  border: 0;
  border-top: 1px solid #EDEDED;
  margin: 10px 0; }

/* Selection color */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #34E27E; }

::selection {
  color: white;
  background: #34E27E; }

/*

20/04/2015 | J. Henrotte
_button.scss
Grid for the articles element

*/
/*

24/02/2015 | J. Henrotte
_input.scss
Input

*/
/* Change the placeholder color */
::-webkit-input-placeholder {
  color: #AAADB4; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #AAADB4; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #AAADB4; }

:-ms-input-placeholder {
  color: #AAADB4; }

/* When input is focus -> Hide the placeholder */
input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

/*

20/04/2015 | J. Henrotte
_background.scss
Variables for the the Sagaframework

*/
body {
  background-color: #FAFAFA; }

/*

20/04/2015 | J. Henrotte
_dev.scss
Dev mode for the open know project
SHOULD REMOVE FOR PRODUCTION

*/
/*

20/04/2015 | J. Henrotte
_header.scss
Variables for the the Sagaframework

*/
.header {
  padding: 0 10px; }
  @media only screen and (min-width: 44em) {
    .header {
      width: 100%;
      max-width: 1140px;
      margin: 0 auto; } }
  .header--navbutton {
    overflow: hidden; }
    @media only screen and (min-width: 44em) {
      .header--navbutton {
        float: left; } }
    .header--navbutton h1 {
      padding: 20px 0;
      float: left; }
    .header--navbutton--rdicon {
      background-color: #34E27E;
      height: 40px;
      position: fixed;
      right: 20px;
      top: 20px;
      width: 40px;
      z-index: 1; }
      @media only screen and (min-width: 44em) {
        .header--navbutton--rdicon {
          display: none; } }
      .header--navbutton--rdicon span {
        background: white;
        height: 3px;
        left: 7px;
        margin: 5px 0 0 0;
        position: absolute;
        top: 3px;
        transition: transform 0.2s, opacity 0.1s ease-in;
        width: 25px; }
        .header--navbutton--rdicon span:nth-child(2) {
          top: 13px; }
        .header--navbutton--rdicon span:last-child {
          top: 23px; }
      .header--navbutton--rdicon.active span:first-child {
        transform: rotate(45deg) translate(8px, 7px); }
      .header--navbutton--rdicon.active span:nth-child(2) {
        opacity: 0; }
      .header--navbutton--rdicon.active span:last-child {
        transform: rotate(-45deg) translate(6px, -7px); }

/*

20/04/2015 | J. Henrotte
_footer.scss
Variables for the the Sagaframework

*/
/*

27/04/2015 | J. Henrotte
_navigation.scss
Navigation

*/
.navigation {
  transition: opacity 0.1s ease-in;
  opacity: 0;
  position: fixed;
  background: rgba(36, 44, 56, 0.9); }
  .navigation.active {
    opacity: 1; }
  @media only screen and (min-width: 44em) {
    .navigation {
      position: relative;
      background: none;
      opacity: 1;
      display: block;
      float: right;
      padding: 20px; } }
  .navigation--list {
    width: 100%;
    text-align: center;
    padding: 0 0 0 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    @media only screen and (min-width: 44em) {
      .navigation--list {
        position: relative;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        top: 0; } }
    .navigation--list--element {
      padding-top: 20px; }
      .navigation--list--element:last-child {
        padding-right: 0; }
      .navigation--list--element a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-size: 1.25rem;
        font-family: "Montserrat", sans-serif;
        display: inline-block; }
        .navigation--list--element a.selected {
          color: #34E27E; }
      @media only screen and (min-width: 44em) {
        .navigation--list--element {
          display: inline-block;
          padding: 10px 20px 0 0; }
          .navigation--list--element a {
            color: #1E2538;
            text-decoration: none;
            font-size: 14px; }
            .navigation--list--element a:hover {
              color: #34E27E; } }

/*# sourceMappingURL=application.css.map */
