/*

20/04/2015 | J. Henrotte
application.scss
Importation of all scss files
	-> Output css/application.css

*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300italic,400italic,700italic,400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*

20/04/2015 | J. Henrotte
_vars.scss
Variables for the the Sagaframework

*/
/*

17/02/2015 | J. Henrotte
_placeholder.scss
Placeholders for the Sagaframework

*/
.blocks--blockquote:before, .blocks--blockquote:after {
  content: '';
  display: table; }
.blocks--blockquote:after {
  clear: both; }

/*

20/04/2015 | J. Henrotte
_mixins.scss
Mixins for the Sagaframework

*/
/* Breakpoin mixins

	Usage : 
	@include screen-large{
		property : value;
	}

*/
/*

	Font-size REM + Callback PX
	Usage :
	 @include font-size(value);

*/
/*

	Border radius mixins (4 corners)
	Usage :
	@include border-radius(value)

*/
/*

	Opacity mixins (I8- Compatible)
	Usage :
	@include opacity(value);

*/
/*

	Center block
	Usage : 
	@include center-block;

*/
/*

	Text-truncate
	Usage : 
	@include texte-truncate

*/
/*

	Translate mixin
	@include translate(x, y)

*/
/*

20/04/2015 | J. Henrotte
_fonts.scss
Fonts for the projet Sagaframework

*/
/*

20/04/2015 | J. Henrotte
_fontIcons.scss
Fonticons for Sagaframework

*/
/*

17/02/2015 | J. Henrotte
_typography.scss
Typography for the Sagaframework

*/
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #1E2538; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #5F6882; }

em {
  color: #34CB60; }

.color--green {
  color: #34CB60 !important; }
  .color--green a {
    text-decoration: none;
    font-style: italic; }

.color--red {
  color: #F94747 !important; }
  .color--red a {
    text-decoration: none;
    font-style: italic; }

/*

20/04/2015 | J. Henrotte
_base.scss
Basic reset for the Sagaframework

*/
/* Border box code to manage sizes */
*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  word-wrap: break-word; }

hr {
  border: 0;
  border-top: 1px solid #EDEDED;
  margin: 10px 0; }

strong {
  color: #34E27E; }

/* Selection color */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #34E27E; }

::selection {
  color: white;
  background: #34E27E; }

/*

27/04/2015 | J. Henrotte
_button.scss
Buttons

*/
.btn {
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
  background-color: #1E2538;
  bottom: 0;
  box-shadow: 2px 2px 0px 0px #34E27E;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 5px 20px;
  position: absolute;
  right: 30px;
  text-decoration: none;
  text-transform: uppercase; }

/*

24/02/2015 | J. Henrotte
_input.scss
Input

*/
/* Change the placeholder color */
::-webkit-input-placeholder {
  color: #AAADB4; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #AAADB4; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #AAADB4; }

:-ms-input-placeholder {
  color: #AAADB4; }

/* When input is focus -> Hide the placeholder */
input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

/*

20/04/2015 | J. Henrotte
_background.scss
Variables for the the Sagaframework

*/
body {
  background-color: #FAFAFA; }

/*

20/04/2015 | J. Henrotte
_dev.scss
Dev mode for the open know project
SHOULD REMOVE FOR PRODUCTION

*/
body:after {
  content: 'base';
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: red;
  color: #fff;
  font-size: 1rem; }
  @media screen and (min-width: 30em) {
    body:after {
      content: "small: 30em"; } }
  @media screen and (min-width: 44em) {
    body:after {
      content: "med: 44em"; } }
  @media screen and (min-width: 62em) {
    body:after {
      content: "large: 62em"; } }
  @media screen and (min-width: 82em) {
    body:after {
      content: "xlarge: 82em"; } }

body {
  padding-bottom: 5rem; }

/*

27/04/2015 | J. Henrotte
_base.scss
Basic for modules for the Sagaframework

*/
.wrapper {
  width: 100%;
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto; }

/*

20/04/2015 | J. Henrotte
_header.scss
Variables for the the Sagaframework

*/
/*

20/04/2015 | J. Henrotte
_footer.scss
Variables for the the Sagaframework

*/
/*

27/04/2015 | J. Henrotte
_navigation.scss
Navigation

*/
/*

20/04/2015 | J. Henrotte
_blocks.scss
Blocks

*/
.blocks--element {
  background-color: white;
  padding: 30px 30px 40px 30px;
  margin-bottom: 30px;
  position: relative; }
  .blocks--element--title {
    font-size: 36px;
    font-size: 2.25rem;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .blocks--element--text {
    font-size: 15px;
    font-size: 0.9375rem; }
.blocks--image {
  padding: 0; }
  .blocks--image--figure img {
    width: 100%;
    display: inline-block;
    vertical-align: top; }
.blocks--blockquote--thequote {
  font-size: 20px;
  font-size: 1.25rem;
  font-style: italic;
  color: #5F6882;
  margin-bottom: 10px; }
  .blocks--blockquote--thequote:before {
    content: "'"; }
  .blocks--blockquote--thequote:after {
    content: "'"; }
.blocks--blockquote--figure--figcaption {
  font-size: 16px;
  font-size: 1rem;
  width: calc( 100% - 60px);
  float: left;
  text-align: right;
  padding-right: 10px;
  padding-top: 5px; }
  .blocks--blockquote--figure--figcaption--name {
    font-family: "Montserrat", sans-serif; }
.blocks--blockquote--figure--img {
  width: 100%;
  max-width: 60px;
  float: right;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/*# sourceMappingURL=application.css.map */
